<footer class="px-0 footer">
  <div class="footer-inner section">
    <div class="footer-info">
      <div class="flex items-center gap-8">
        <img src="/img/logo-white.png" alt="" class="footer-logo">
        <img src="/img/1c-franchize.png" alt="">
      </div>
      <div class="mt-6 text-xs font-semibold sm:mt-8 opacity-60 sm:text-sm">
        Специалисты компании IntelWay с 2025 года
        занимаются внедрением систем учета и управления
        предприятием
      </div>
      <div class="mt-4 text-xs sm:mt-6 opacity-60 sm:text-sm">
        Уже 9 лет мы работаем для того, чтобы с помощью
        программных продуктов 1С делать более простым
        и эффективным труд специалистов различного спектра
      </div>
    </div>
    <div class="footer-nav max-lg:hidden">
      <div class="mb-8 text-2xl font-semibold">Услуги</div>
      <div class="flex flex-col items-start gap-4">
        <% for(let i = 0; i < 7; i++) { %>
        <a href="javascript:;" class="relative btn btn-text footer-link hover-underline">
          <div class="absolute -inset-2"></div>
          <span>Реальная автоматизация</span>
        </a>
        <% } %>
      </div>
    </div>
    <div class="footer-nav max-lg:hidden">
      <div class="mb-8 text-2xl font-semibold">Продукция</div>
      <div class="flex flex-col items-start gap-4">
        <% for(let i = 0; i < 5; i++) { %>
        <a href="javascript:;" class="relative btn btn-text footer-link hover-underline">
          <div class="absolute -inset-2"></div>
          <span>Продукты Microsoft</span>
        </a>
        <% } %>
      </div>
    </div>
    <div class="footer-contact">
      <div class="mb-4 text-2xl font-semibold sm:mb-8">Контакты</div>
      <div class="flex flex-col items-start gap-4 mb-8">
        <a href="javascript:;" class="justify-start gap-3 btn btn-text">
          <div class="bg-sec bg-gradient p-1.5 rounded-lg">
            <c-icon class="text-xl text-white icon" href="/img/icons.svg#map-point"></c-icon>
          </div>
          <div class="">
            г. Краснодар, ул. Селезнёва, 203
            2 этаж, офис 36/8
          </div>
        </a>
        <a href="javascript:;" class="justify-start gap-3 btn btn-text">
          <div class="bg-sec bg-gradient p-1.5 rounded-lg">
            <c-icon class="text-xl text-white icon" href="/img/icons.svg#smartphone"></c-icon>
          </div>
          <div class="text-2xl font-bold">
            8 (800) 100-86-76
          </div>
        </a>
        <a href="javascript:;" class="justify-start gap-3 btn btn-text">
          <div class="bg-sec bg-gradient p-1.5 rounded-lg">
            <c-icon class="text-xl text-white icon" href="/img/icons.svg#email"></c-icon>
          </div>
          <div class="font-medium">
            manager@intel-way.ru
          </div>
        </a>

      </div>
      <%= require('./header-soc.html')() %>
    </div>
  </div>
  <div class="flex flex-col gap-5 py-3 lg:items-center lg:justify-between footer-bottom section lg:flex-row bg-primary">
    <span class="max-sm:text-xs">intel-way.ru© 2015-2024. <br class="sm:hidden"> ООО "Интелвэй" Сертифицированный партнер 1С</span>
    <div class="flex items-center">
      <span class="mr-2 font-normal text-sm/none opacity-60">✓ Разработано:</span>
      <a class="w-15" draggable="false" href="https://stdkit.ru/" target="_blank">
        <img src="/img/logo.svg" alt="">
      </a>
    </div>
  </div>
</footer>

</body>

</html>