<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title>intel-way</title>

  <script>
    window.maplocation = [45.219961, 39.222988]
  </script>
</head>

<body>

  <header class="header">
    <div class="order-9 w-full my-2 border-t border-default/20 sm:hidden"></div>
    <div class="flex items-center gap-5 max-sm:order-10">
      <button class="btn btn-text lg:hidden" data-toggle-link="menu">
        <c-icon class="text-2xl icon" href="/img/icons.svg#menu"></c-icon>
      </button>
      <a href="/" class="header-logo">
        <img src="/img/logo.png" alt="">
      </a>
    </div>

    <a href="/#map" class="gap-3 btn btn-text max-lg:hidden" data-scroll>
      <div class="bg-[#CBDCDB] bg-gradient p-1.5 rounded-lg">
        <c-icon class="text-xl text-white icon" href="/img/icons.svg#map-point"></c-icon>
      </div>
      <div class="font-medium">
        г. Краснодар, ул. Селезнева, д.203, оф. 36/8
      </div>
    </a>

    <a href="javascript:;" class="gap-3 btn btn-text max-lg:hidden">
      <div class="bg-[#CBDCDB] bg-gradient p-1.5 rounded-lg">
        <c-icon class="text-xl text-white icon" href="/img/icons.svg#email"></c-icon>
      </div>
      <div class="font-medium">
        manager@intel-way.ru
      </div>
    </a>

    <%= require('./header-soc.html')() %>

    <a href="javascript:;" class="btn btn-text hover-underline">
      <span class="text-xl font-bold sm:text-2xl">8 800 100 86 76</span>
    </a>
  </header>

  <div class="menu " id="menu">
    <div class="sticky top-0 py-3 border-b z-1 bg-l3 border-default/20">
      <div class="flex justify-between px-4">
        <%= require('./header-soc.html')() %>

        <a href="javascript:;" class="btn btn-text hover-underline">
          <span class="text-xl font-bold sm:text-2xl">8 800 100 86 76</span>
        </a>
      </div>
      <div class="w-full my-2 border-t border-default/20"></div>
      <div class="flex items-center gap-5 px-4">
        <button class="btn btn-text " data-toggle-link="menu">
          <c-icon class="text-2xl icon" href="/img/icons.svg#cross-circle"></c-icon>
        </button>
        <a href="/" class="header-logo">
          <img src="/img/logo.png" alt="">
        </a>
      </div>
    </div>
    <div class="py-4 px-4 flex flex-col gap-0.5">
      <div class="mb-4 text-2xl font-semibold">Продукты и услуги</div>

      <a href="/catalog-1c.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-default">Продукты 1С</span>
      </a>
      <a href="/catalog-bitrix.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-default">Продукты Битрикс</span>
      </a>
      <a href="catalog-virus.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-default">Антивирусы</span>
      </a>
      <a href="catalog-other.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-default">Другое ПО</span>
      </a>
      <a href="autsorsing.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-default">Аутсорсинг 1С</span>
      </a>

      <div class="w-full my-4 border-t border-default/20"></div>

      <a href="/sale.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <c-icon class="text-2xl icon text-yellow" href="/img/icons.svg#sale"></c-icon>
        <span class="text-lg font-semibold text-default">Акции</span>
      </a>
      <a href="/portfolio.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-lg font-semibold text-default">Портфолио</span>
      </a>
      <a href="/partner.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-lg font-semibold text-default">Партнерам</span>
      </a>
      <a href="/client.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-lg font-semibold text-default">Клиентам</span>
      </a>
      <a href="/contact.html" class="justify-start gap-3 px-3 -mx-3 btn btn-primary btn-sm hover-underline">
        <span class="text-lg font-semibold text-default">Контакты</span>
      </a>

      <div class="w-full my-4 border-t border-default/20"></div>

      <div class="mb-4 text-2xl font-semibold">Контакты</div>

      <div class="flex flex-col gap-4">
        <a href="javascript:;" class="justify-start gap-3 btn btn-text">
          <div class="bg-primary bg-gradient p-1.5 rounded-lg">
            <c-icon class="text-xl text-white icon" href="/img/icons.svg#map-point"></c-icon>
          </div>
          <div class="font-medium">
            г. Краснодар, ул. Селезнева, д.203, оф. 36/8
          </div>
        </a>
        <a href="javascript:;" class="justify-start gap-3 btn btn-text">
          <div class="bg-primary bg-gradient p-1.5 rounded-lg">
            <c-icon class="text-xl text-white icon" href="/img/icons.svg#smartphone"></c-icon>
          </div>
          <div class="text-2xl font-bold">
            8 (800) 100-86-76
          </div>
        </a>
        <a href="javascript:;" class="justify-start gap-3 btn btn-text">
          <div class="bg-primary bg-gradient p-1.5 rounded-lg">
            <c-icon class="text-xl text-white icon" href="/img/icons.svg#email"></c-icon>
          </div>
          <div class="font-medium">
            manager@intel-way.ru
          </div>
        </a>

        <%= require('./header-soc.html')() %>
      </div>
    </div>
  </div>
  <div class="menu-shadow"></div>

  <section class="nav max-lg:hidden">
    <c-menu>
      <c-menu-button href="javascript:;" class="gap-3 btn btn-primary btn-text hover-underline">
        <div class="absolute -inset-5"></div>
        <c-icon class="text-2xl icon text-default" href="/img/icons.svg#menu"></c-icon>
        <span class="text-lg font-semibold text-default">Продукты и услуги</span>
      </c-menu-button>
      <c-menu-items class="flex flex-col gap-0.5 p-2 max-sm:py-6 w-64">
        <a href="/catalog-1c.html" class="justify-start btn btn-primary btn-xs">
          <span class="text-default">Продукты 1С</span>
        </a>
        <a href="/catalog-bitrix.html" class="justify-start btn btn-primary btn-xs">
          <span class="text-default">Продукты Битрикс</span>
        </a>
        <a href="/equipment.html" class="justify-start btn btn-primary btn-xs">
          <span class="text-default">Торговое оборудование</span>
        </a>
        <a href="/catalog-virus.html" class="justify-start btn btn-primary btn-xs">
          <span class="text-default">Антивирусы</span>
        </a>
        <a href="/catalog-other.html" class="justify-start btn btn-primary btn-xs">
          <span class="text-default">Другое ПО</span>
        </a>
        <a href="/autsorsing.html" class="justify-start btn btn-primary btn-xs">
          <span class="text-default">Аутсорсинг 1С</span>
        </a>

      </c-menu-items>
    </c-menu>
    <a href="/sale.html" class="gap-3 btn btn-primary btn-text hover-underline">
      <div class="absolute -inset-5"></div>
      <c-icon class="text-2xl icon text-yellow" href="/img/icons.svg#sale"></c-icon>
      <span class="text-lg font-semibold text-default">Акции</span>
    </a>
    <a href="/portfolio.html" class="gap-3 btn btn-primary btn-text hover-underline">
      <div class="absolute -inset-5"></div>
      <span class="text-lg font-semibold text-default">Портфолио</span>
    </a>
    <a href="/partner.html" class="gap-3 btn btn-primary btn-text hover-underline">
      <div class="absolute -inset-5"></div>
      <span class="text-lg font-semibold text-default">Партнерам</span>
    </a>
    <a href="/client.html" class="gap-3 btn btn-primary btn-text hover-underline">
      <div class="absolute -inset-5"></div>
      <span class="text-lg font-semibold text-default">Клиентам</span>
    </a>
    <a href="/contact.html" class="gap-3 btn btn-primary btn-text hover-underline">
      <div class="absolute -inset-5"></div>
      <span class="text-lg font-semibold text-default">Контакты</span>
    </a>
  </section>