<%= require('./html-includes/header.html')() %>

<section class="pt-8 lg:pt-20 p-section bg-l3">
  <div class="flex flex-col items-center justify-center w-full max-w-[645px] mx-auto">
    <img class="block w-full mb-8 sm:mb-11" src="img/404.png" alt="">
    <div class="mb-6 text-sm font-normal text-center sm:mb-8 sm:text-base">
      Возможно, запрашиваемая Вами страница была перенесена или удалена. <br class="hidden sm:block">
      Либо Вы допустили небольшую опечатку при вводе адреса.
    </div>
    <a class="btn btn-primary btn-fill" href="">Вернуться на главную</a>
  </div>
</section>

<%= require('./html-includes/footer.html')() %>