<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pt-5 pb-0 p-section bg-l3">
  <div class="mb-6 title sm:mb-10">Реальная автоматизация</div>
  <div class="buner">
    <div class="absolute-fit" style="background: linear-gradient(106.76deg, rgba(255, 222, 0, 0) 0%, rgba(255, 77, 0, 0.5) 100%),#FFDE00;"></div>
    <picture>
      <source media="(min-width: 1199.98px)" srcset="img/buner/auto.png">
      <img src="img/buner/auto-sm.png" alt="" class="buner-image ">
    </picture>

    <div class="buner-content">
      <div>
        <div class="text-xl lg:text-3.5xl font-semibold mb-3">
          Реальная автоматизация
        </div>
        <div class="font-semibold ">Узнайте, как сделать ваш бизнес эффективнее</div>
        <div class="mt-4 max-sm:text-sm">
          Повышайте эффективность бизнеса с нами! <br class="max-sm:hidden">
          Станьте лидером своей отрасли вместе с решениями 1С! <br class="max-sm:hidden">
          Не знаете с чего начать – напишите или позвоните нам!
        </div>
      </div>

      <div class="sm:mt-12">
        <button class="btn btn-[#E30000] btn-whitebg max-sm:w-full">
          <span class="font-semibold uppercase">СВЯЗАТЬСЯ С НАМИ</span>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Что вы получите -->
<section class="p-section bg-l3">
  <div class="mb-3 title sm:mb-6">Что вы получите</div>
  <div class="mb-6 sm:mb-10">
    Мы поможем найти узкие места в бизнесе любого размера. Посоветуем. Автоматизируем или доавтомаитзируем. Обучим.
  </div>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-2.5 sm:gap-6">
    <% for(let i = 0; i < 3; i++) { %>
    <div class="advantages-item sm:p-6">
      <div class="w-full advantages-item-image">
        <img src="/img/category-sempl.svg" alt="" class="icon">
      </div>
      <div class="advantages-item-content">
        <div class="font-bold sm:text-lg leading-xs">Глобальная автоматизация</div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="p-6 mt-6 shadow-md rounded-2xl max-sm:text-sm max-sm:px-4">
    Специалисты нашей компании прошли обучение и сертификацию по разработанной фирмой 1C технологии работы и помогут повысить эффективность
    бизнес процессов компании, проведут предварительный IT-аудит и предложат эффективные методы решения выявленных потребностей.
  </div>
</section>

<!-- Вас удивит быстрый результат! -->
<section class="p-section section-l2">
  <div class="mb-3 title sm:mb-6">Вас удивит быстрый результат!</div>
  <div class="mb-6 sm:mb-10 max-sm:text-sm">
    <b> По статистике реальная автоматизация окупает себя в первые 3 месяца запуска на предприятии.</b>
    <br><br>
    Зачастую, многие предприятия понимают необходимости автоматизации процессов своего предприятия, но нет понимания что необходимо
    автоматизировать, каким именно образом, где «узкое место» вашего бизнеса.
    <br><br>
    Поскольку в сфере бизнеса особенно важно развиваться, совершенствовать свои процессы, оптимизировать расходы – мы предлагаем
    вам обратиться в Центр Реальной Автоматизации.
  </div>

  <div class="mt-8 mb-6 text-2xl font-semibold">
    Именно данные центры могут:
  </div>
  <div class="grid lg:grid-cols-2 gap-2.5">

    <div class="technique-item">
      <img src="img/dolphin.png" alt="" class="shrink-0 w-9 sm:w-11">
      <div class="font-semibold max-sm:text-sm">
        Выявить области автоматизации вашего бизнеса
      </div>
    </div>
    <div class="technique-item">
      <img src="img/dolphin.png" alt="" class="shrink-0 w-9 sm:w-11">
      <div class="font-semibold max-sm:text-sm">
        Описать бизнес-процессы и составить круг задач для решения
      </div>
    </div>
    <div class="technique-item">
      <img src="img/dolphin.png" alt="" class="shrink-0 w-9 sm:w-11">
      <div class="font-semibold max-sm:text-sm">
        Предложить варианты решений, реализовать и сдать
        работу под ключ
      </div>
    </div>
    <div class="technique-item">
      <img src="img/dolphin.png" alt="" class="shrink-0 w-9 sm:w-11">
      <div class="font-semibold max-sm:text-sm">
        Вместе с вами убедиться в эффективности принятых решений
      </div>
    </div>
  </div>
</section>

<!-- Что такое Реальная автоматизация? -->
<section class="p-section bg-l3">
  <div class="mb-3 title sm:mb-6">Что такое Реальная автоматизация?</div>
  <div class="max-sm:text-sm">
    Часто для эффективного ведения бизнеса требуется автоматизация “узких”, индивидуальных процессов компании. Например, нужно настроить особый учет единиц хранения или собственнику важно получать аналитику деятельности компании в оперативном режиме или необходима автоматизация показателей KPI подразделений – все это примеры недорогих, но в разы повышающих эффективность работы, задач, решаемых центрами реальной автоматизации.
    <br><br>
    Уменьшение рутинных операций, повышение прозрачности бизнеса, сокращение издержек – все это Реальная Автоматизация.
  </div>
  <div class="flex flex-col items-center gap-8 px-4 py-6 mt-6 sm:flex-row sm:px-6 sm:py-4 auto-gradient rounded-2xl">
    <img class="order-2 w-full max-w-20 sm:order-1" src="img/pig.png" alt="">
    <div class="order-1 text-sm font-semibold leading-normal sm:text-base sm:order-2">
      Специалистов Центров реальной автоматизации в шутку называют «реальными кабанами» за их способность решать самые сложные задачи, поэтому символом Центров реальной автоматизации стал дикий кабан.
    </div>
  </div>
</section>

<!-- Наш опыт решения задач бизнеса -->

<section class="p-section section-l2 overflow-hidden">
  <div class="mb-3 title sm:mb-6">Наш опыт решения задач бизнеса</div>
  <div class="relative">
    <div class="-mx-2 expirience-slider swiper lg:-mx-3 max-lg:overflow-visible py-5 -my-5">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 6; i++) { %>
        <div class="px-2 swiper-slide lg:px-3 w-80 xs:w-8/12 md:w-1/2">
          <a href="javascript:;" class="service-item btn-group">
            <div class="ratio ratio-[390/134]">
              <img src="/img/portfolio-image.jpg" alt="" class="object-cover absolute-fit">
            </div>
            <div class="px-6 pt-6 sm:pt-9 pb-7 service-content">
              <div class="mb-6 text-base font-bold leading-normal sm:text-lg">
                Автоматизация интернет-магазина и обработки заказов у ИП Тарасенко С.В. на базе ПП "1С:Комплексная автоматизация, редакция 2"
              </div>
              <div class="flex mt-auto">
                <button class="font-semibold uppercase border shadow-md btn btn-primary btn-whitebg border-default/10">подробнее</button>
              </div>
            </div>
          </a>
        </div>
        <% } %>
      </div>
    </div>

    <div class="absolute mr-6 -translate-y-1/2 right-full top-1/2 max-md:hidden z-[2]">
      <button class="mt-auto border rounded-full shadow-md btn btn-primary btn-whitebg border-default/10 btn-icon expirience-slider-prev">
        <c-icon class="icon" href="img/icons.svg#to-left"></c-icon>
      </button>
    </div>
    <div class="absolute ml-6 -translate-y-1/2 left-full top-1/2 max-md:hidden z-[2]">
      <button class="mt-auto border rounded-full shadow-md btn btn-primary btn-whitebg border-default/10 btn-icon expirience-slider-next">
        <c-icon class="icon" href="img/icons.svg#to-right"></c-icon>
      </button>
    </div>
  </div>
</section>
<script>
  new Swiper('.expirience-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.expirience-slider-prev',
      nextEl: '.expirience-slider-next',
    }
  })
</script>


<%= require('./html-includes/pray.html')() %>
<%= require('./html-includes/map.html')() %>
<%= require('./html-includes/footer.html')() %>