<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="p-section bg-l3 pt-5">
  <div class="title mb-6 sm:mb-10">Продукты 1C</div>
  <div class="catalog-preview mb-14">
    <div class="catalog-preview-image ratio ratio-1/1">
      <img src="img/image-plug.jpg" alt="" class="absolute-fit object-cover">
    </div>
    <div class="catalog-preview-content">
      <div class="text-xl sm:text-3.5xl font-semibold mb-4 sm:mb-8">1С: Предприятие 8</div>
      <div class="max-lg:text-sm">
        1С Предприятие 8 — это платформа для автоматизации бухгалтерского учета, управления
        и производства в бизнесе и государственных учреждениях. Для платформы 1С 8 разработаны
        прикладные решения для большинства сфер деятельности: от розничных продаж до промышленности.
        <br><br>
        Отличительная особенность программ 1С — гибкость настройки. Любое решение на платформе
        можно изменить под ваши потребности, а если нужно — создать новую конфигурацию.
        <br><br>
        Все приложения существуют в нескольких версиях: Базовая, ПРОФ и КОРП.
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <% for(let i = 0; i < 7; i++) { %>
    <%= require('./html-includes/catalog-item.html')() %>
    <% } %>
  </div>
</section>

<%= require('./html-includes/pray.html')() %>
<%= require('./html-includes/map.html')() %>
<%= require('./html-includes/footer.html')() %>