<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pt-5 p-section bg-l3">
  <div class="mb-6 title sm:mb-10">Клиентам</div>
  <div class="mb-5 text-sm font-semibold leading-normal sm:text-base sm:mb-9">
    Специальные предложения для наших постоянных клиентов:
  </div>
  <div class="flex flex-col gap-4 mb-5 sm:gap-9 sm:mb-8">
    <div class="flex xl:items-center">
      <img class="mr-3 text-3xl icon" src="img/dolphin.png" alt="">
      <div class="text-sm font-normal sm:text-base">
        <span class="font-semibold">Бесплатная линия консультации для клиентов с подпиской ИТС Проф и Корп</span> <br>
        Оказываем бесплатный консультации по типовым вопросам работы в 1С для всех наших клиентов с действующей подпиской 1С: ИТС Проф или Корп.
      </div>
    </div>
    <div class="flex">
      <img class="mr-3 text-3xl icon" src="img/dolphin.png" alt="">
      <div class="flex flex-col">
        <div class="mb-2 text-sm font-normal sm:text-base">
          <span class="font-semibold">Приведи друга и получи подарок</span> <br>
          Порекомендуйте нашу компанию своим друзьям и выберите подарок на выбор:
        </div>
        <ul class="pl-5 list-disc list-outside">
          <li>2 часа работ специалиста</li>
          <li>сертификат OZON или DNS  на 5% от суммы в чеке друга</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-4 py-6 mb-8 sm:px-8 bg-primary/10 rounded-3xl">
    <div class="mb-1 text-lg font-semibold sm:text-2xl">Подарок предоставляется при оформлении другом заказа</div>
    <div class="mb-6 text-sm font-normal sm:text-base">Отправьте заявку или свяжитесь с нами любым удобным для вас способом</div>
    <button class="font-semibold uppercase btn btn-primary btn-fill" data-fancybox-modal data-type="ajax" data-src="dialog-feedback.html">отправить заявку</button>
  </div>
  <div class="mb-6 text-2xl font-semibold leading-tight">Частые вопросы</div>
  <div class="flex flex-col gap-3">
    <% for(let i = 0; i < 4; i++) { %>
    <div class="p-4 border border-solid sm:p-8 border-black/10 rounded-4xl group/toggle" data-toggle-cover>
      <div class="flex items-center justify-between gap-4 cursor-pointer" data-toggle-link>
        <div class="text-lg font-semibold sm:text-xl">Распространение конфигураций, разработанных партнерами фирмы "1С"</div>
        <c-icon class="icon group-[.toggle-active]/toggle:-rotate-90 duration-200" href="img/icons.svg#to-right"></c-icon>
      </div>
      <div class="group-[.toggle-active]/toggle:block hidden" data-toggle-content>
        <div class="pt-6 text-sm font-normal leading-normal sm:text-base">
          Фирма "1С" принимает к рассмотрению конфигурации для программных продуктов системы "1С:Предприятие 8", разработанные нашими партнерами, с целью возможного последующего распространения. Партнерские продукты, принятые к распространению, размещаются в разделе прайс-листа фирмы "1С" и доступны для заказа. В случае принятия решения о распространении с разработчиком будет заключен договор на распространение конфигурации. Производство конфигурации, как коробочного продукта, а также доставка его на склад отдела продаж фирмы "1С" осуществляется силами разработчика. При рассмотрении конфигураций предпочтение будет отдаваться разработчикам, имеющим опыт разработки отраслевых решений и опыт внедрения в определенных отраслях. На этапе согласования специалисты фирмы "1С" могут при необходимости запросить список организаций, в которых была внедрена данная конфигурация.
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>
<%= require('./html-includes/pray.html')() %>
<%= require('./html-includes/map.html')() %>
<%= require('./html-includes/footer.html')() %>