<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pt-5 p-section bg-l3">
  <div class="mb-6 title sm:mb-10">Контакты</div>

  <div class="contact-inner">
    <div class="contact-content">
      <div class="max-sm:text-sm">г. Краснодар, ул. Селезнёва д. 203, оф. 36/8</div>
      <a href="javascript:;" class="btn btn-text hover-underline">
        <span class="font-bold text-xl sm:text-3.5xl">8 800 100 86 76</span>
      </a>
      <div class="w-full mt-9">
        <div class="mb-4 text-2xl font-semibold">Часы работы</div>
        <div class="flex flex-col gap-2">
          <div class="contact-time">
            <div class="">Пн-Пт</div>
            <div class="font-semibold">08:00-17:00</div>
          </div>
          <div class="contact-time">
            <div class="">Пн-Пт</div>
            <div class="font-semibold">08:00-17:00</div>
          </div>
        </div>
      </div>

      <div class="mt-9 max-sm:text-sm">
        Но вы можете звонить и отправлять
        сообщения в любое время.
        <br><br>
        Или свяжитесь с нами через один
        из наших профилей в социальных сетях!
      </div>

      <div class="mt-9"></div>
      <%= require('./html-includes/header-soc.html')() %>
    </div>
    <div class="contact-form">
      <div class="mb-6 text-xl font-semibold sm:text-2xl lg:text-4xl">Есть вопросы? Задайте их нам!</div>

      <div class="grid gap-4 sm:grid-cols-2">
        <label class="block">
          <div class="mb-2 font-semibold">Ваше имя</div>
          <input type="text" class="w-full input">
        </label>
        <label class="block">
          <div class="mb-2 font-semibold">Ваш телефон</div>
          <input type="tel" class="w-full input" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
        </label>
        <label class="block col-span-full">
          <div class="mb-2 font-semibold">Что вас интересует</div>
          <textarea class="w-full input h-36"></textarea>
        </label>
      </div>
      <button class="mt-8 border shadow-md btn btn-primary btn-whitebg border-default/10 ">
        <span class="font-semibold uppercase">отправить заявку</span>
      </button>
      <a href="javascript:;" class="block mt-8 text-xs text-white hover:underline opacity-60">
        Отправляя форму, Вы даете согласие на обработку
        Ваших персональных данных
      </a>
    </div>
  </div>
</section>

<%= require('./html-includes/map.html')() %>
<%= require('./html-includes/footer.html')() %>