<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="p-section bg-l3 pt-5">
  <div class="title mb-6 sm:mb-10">Торговое оборудование</div>
  <div class="buner">
    <div class="absolute-fit" style="background: linear-gradient(360deg, #C4D9F2 0%, #EAF3FD 100%);"></div>
    <img src="img/buner/equipment.png" alt="" class="buner-image ">

    <div class="buner-content">
      <img src="img/equipment-buner.png" alt="" class="mb-8">

      <div class="text-3.5xl font-semibold">
        Оборудование для автоматизации <br>
        розничной торговли
      </div>
    </div>
  </div>
</section>

<%= require('./html-includes/map.html')() %>
<%= require('./html-includes/footer.html')() %>