<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pt-5 p-section bg-l3">
  <div class="mb-6 title sm:mb-10">Акции</div>

  <div class="grid gap-4 sm:grid-cols-2 md:gap-7">
    <% for(let i = 0; i < 4; i++) { %>
    <a href="javascript:;" class="service-item btn-group">
      <div class="ratio ratio-[600/214]">
        <img src="/img/image-plug.jpg" alt="" class="object-cover absolute-fit">
      </div>
      <div class="p-4 lg:p-7 service-item-content">
        <div class="mb-3 font-semibold sm:text-2xl">
          скидка до 50% на программы 1с
        </div>
        <div class="mb-6 max-sm:text-sm">
          Скидка на такие программы, как: Бухгалтерия 8. Базовая версия
          1С: Зарплата и Управление Персоналом 8. Базовая версия 1С:
          Управление торговлей 8. Базовая версия
        </div>

        <div class="flex mt-auto">
          <button class="mt-auto border shadow-md btn btn-primary btn-whitebg border-default/10 max-sm:w-full">
            <span class="font-semibold uppercase ">подробнее об акции</span>
          </button>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</section>

<%= require('./html-includes/map.html')() %>
<%= require('./html-includes/footer.html')() %>