<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pt-5 p-section bg-l3">
  <div class="mb-6 title sm:mb-10">Сопровождение 1С</div>
  <div class="relative overflow-hidden mb-7 sm:mb-10 lg:mb-16 rounded-4xl">
    <picture>
      <source media="(min-width: 599.98px)" srcset="img/service-bg.jpg">
      <img class="absolute inset-0 object-cover sm:object-left size-full" src="img/service-bg-mobile.jpg" alt="">
    </picture>
    <div class="relative px-4 py-8 sm:px-8 lg:px-16 lg:py-16">
      <div class="w-full max-w-[435px]">
        <div class="mb-4 text-xl font-semibold sm:text-2xl lg:text-3xl">Сопровождение 1С</div>
        <div class="mb-4 text-sm font-bold sm:text-base">Узнайте, как сделать ваш бизнес эффективнее</div>
        <div class="text-sm font-normal mb-52 sm:mb-12 sm:text-base">
          Повышайте эффективность бизнеса с нами! Станьте лидером своей отрасли вместе с решениями 1С! Не знаете с чего начать – напишите или позвоните нам!
        </div>
        <div class="flex">
          <button class="w-full font-semibold uppercase border shadow-md btn btn-primary btn-whitebg border-default/10 sm:w-auto">получить консультацию</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-6 title sm:mb-10">Что вы получите</div>
  <!-- detail-text -->
  <div class="text-sm font-normal leading-normal sm:text-base detail-text">
    <b>По статистике реальная автоматизация окупает себя в первые 3 месяца запуска на предприятии.</b>
    <br>
    <br>
    Зачастую, многие предприятия понимают необходимости автоматизации процессов своего предприятия, но нет понимания что необходимо
    автоматизировать, каким именно образом, где «узкое место» вашего бизнеса.
    <br>
    <br>
    Поскольку в сфере бизнеса особенно важно развиваться, совершенствовать свои процессы, оптимизировать расходы – мы предлагаем
    вам обратиться в Центр Реальной Автоматизации.
    <br>
    <h2>Техника для автоматизации розничной торговли</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vero harum maiores exercitationem cum laudantium animi possimus facere voluptate, saepe asperiores! Aliquid eligendi minima, pariatur tempore autem culpa dolorum accusantium.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vero harum maiores exercitationem cum laudantium animi possimus facere voluptate, saepe asperiores! Aliquid eligendi minima, pariatur tempore autem culpa dolorum accusantium.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vero harum maiores exercitationem cum laudantium animi possimus facere voluptate, saepe asperiores! Aliquid eligendi minima, pariatur tempore autem culpa dolorum accusantium.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vero harum maiores exercitationem cum laudantium animi possimus facere voluptate, saepe asperiores! Aliquid eligendi minima, pariatur tempore autem culpa dolorum accusantium.</li>
    </ul>
    <br>
    <h2>Техника для автоматизации розничной торговли</h2>
    <ol>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur praesentium consequuntur facere. Perspiciatis incidunt ab reprehenderit mollitia! Earum eius temporibus sed soluta cum quaerat tempora esse asperiores labore. Quas!</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur praesentium consequuntur facere. Perspiciatis incidunt ab reprehenderit mollitia! Earum eius temporibus sed soluta cum quaerat tempora esse asperiores labore. Quas!</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur praesentium consequuntur facere. Perspiciatis incidunt ab reprehenderit mollitia! Earum eius temporibus sed soluta cum quaerat tempora esse asperiores labore. Quas!</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur praesentium consequuntur facere. Perspiciatis incidunt ab reprehenderit mollitia! Earum eius temporibus sed soluta cum quaerat tempora esse asperiores labore. Quas!</li>
    </ol>
  </div>
</section>

<section class="relative overflow-hidden p-section section-l2">
  <img src="img/lines-left.svg" alt="" class="absolute bottom-0 left-0">
  <div class="relative">
    <div class="mb-8 title">
      Сервисы 1С:ИТС <br>
      для повышения эффективности работы
    </div>
    <div class="mb-10 max-sm:text-sm">
      Сервисы 1С:ИТС — это дополнительные возможности программ 1С, которые экономят ваше время при ведении учета и взаимодействии с государственными информационными системами, сокращают количество ошибок, дают дополнительную информацию для решения различных задач. Сервисы включены в различные пакеты информационно-технологического сопровождения, также их можно приобретать отдельно.
    </div>
    <div class="relative">
      <div class="py-5 -mx-2 -my-5 products-slider swiper lg:-mx-3 max-lg:overflow-visible">
        <div class="swiper-wrapper">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="px-2 swiper-slide lg:px-3 w-80 md:w-1/3 lg:w-1/4">
            <a href="javascript:;" class="gap-6 p-4 pb-6 shadow-md service-item btn-group">
              <div class="ratio ratio-[258/148] rounded-2xl overflow-hidden">
                <img src="img/service-test.png" alt="" class="object-cover absolute-fit">
              </div>
              <div class="service-item-content">
                <div class="mb-3 font-semibold sm:text-lg/xs">
                  1С:Контрагент
                </div>
                <div class="max-lg:text-sm">
                  Автоматическое заполнение
                  реквизитов контрагентов
                  в различных документах
                  и быстрая проверка
                  информации о контрагентах.
                </div>
              </div>
            </a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  new Swiper('.products-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.products-slider-prev',
      nextEl: '.products-slider-next',
    }
  })
</script>
<%= require('./html-includes/pray.html')() %>
<%= require('./html-includes/map.html')() %>
<%= require('./html-includes/footer.html')() %>