@import 'functions';

:root {
  // theme colors
  --primary-rgb : #{cl(#196C69)};
  --sec-rgb     : #{cl(#15948F)};
  --blue-rgb    : #{cl(#2173E5)};
  --red-rgb     : #{cl(#c0392b)};
  --green-rgb   : #{cl(#27ae60)};
  --yellow-rgb  : #{cl(#FECB29)};

  // colors
  --bg1-rgb     : #{cl(#ededed)};
  --bg2-rgb     : #{cl(#EFF2F6)};
  --bg3-rgb     : #{cl(#fff)};
  --default-rgb : #{cl(#373737)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};

  // variables
  --bg1    : rgb(var(--bg1-rgb));
  --bg2    : rgb(var(--bg2-rgb));
  --bg3    : rgb(var(--bg3-rgb));
  --default: rgb(var(--default-rgb));

}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l2');
  font-family   : theme('fontFamily.base');
  color         : theme('colors.default');

  &.menu-opened {
    overflow: hidden;
  }
}

[data-theme="dark"] {
  --bg1-rgb     : #{cl(#181818)};
  --bg2-rgb     : #{cl(#282828)};
  --bg3-rgb     : #{cl(#323232)};
  --default-rgb : #{cl(#fff)};

}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    --underline-color   : theme('colors.primary');
    --underline-position: center;

    position: relative;

    &::before {
      content         : '';
      position        : absolute;
      top             : 100%;
      height          : 2px;
      left            : 0;
      width           : 100%;
      background      : var(--underline-color);
      transition      : .25s ease;
      transform       : scaleX(0);
      transform-origin: var(--underline-position);
    }

    @media(hover) {
      // temp

      &-wrapper:hover &::before,
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .title {
    font-weight: 600;
    font-size  : 48px;
    line-height: 1.1;

    @media (max-width: theme('screens.sm')) {
      font-size: 32px;
    }
  }




  .bg-gradient {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .btn-telegram {
    background: linear-gradient(180deg, #37BBFE 0%, #007DBB 100%);

    @media(hover) {
      &:hover {
        background: linear-gradient(180deg, #37BBFE 0%, #007DBB 100%);
      }
    }
  }

  .btn-whatsapp {
    background: linear-gradient(226.97deg, #5BD066 9.27%, #27B43E 100%);

    @media(hover) {
      &:hover {
        background: linear-gradient(226.97deg, #5BD066 9.27%, #27B43E 100%);
      }
    }

  }

  .input {
    color        : theme('colors.black');
    border-radius: 10px;
  }

  .btn {
    border-radius: 10px;
    cursor       : pointer;

    &>span {
      pointer-events: none;
    }

    &-text {
      border-radius: initial;
    }

    &-whitebg {
      background: theme('colors.l3');
      color     : theme('colors.default');

      @media(hover) {
        // temp

        &:is(.btn-group:hover .btn),
        &:is(.btn-peer:hover~.btn),
        &:hover {
          color     : #fff;
          background: var(--tw-btn-color);
        }
      }
    }
  }

  .p-section {
    padding-top   : 64px;
    padding-bottom: 72px;

    @media (max-width: theme('screens.sm')) {
      padding-top   : 32px;
      padding-bottom: 32px;
    }
  }
}

.slider-pagination {
  --swiper-pagination-bullet-size            : 8px;
  --swiper-pagination-color                  : theme('colors.primary');
  --swiper-pagination-bullet-inactive-color  : theme('colors.default / 20%');
  --swiper-pagination-bullet-hover-color     : theme('colors.primary / 50%');
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap  : 12px;
  --swiper-pagination-bottom                 : auto;
  --swiper-pagination-top                    : auto;

  position      : relative;
  padding-top   : var(--swiper-pagination-bullet-horizontal-gap);
  padding-bottom: var(--swiper-pagination-bullet-horizontal-gap);
  margin-top    : calc(-1 * var(--swiper-pagination-bullet-horizontal-gap));
  margin-bottom : calc(-1 * var(--swiper-pagination-bullet-horizontal-gap));

  @media (max-width: theme('screens.sm')) {
    --swiper-pagination-bullet-horizontal-gap: 8px;

  }

  .swiper-pagination-bullet {
    position: relative;

    @media(hover) {
      &:not(&-active):hover {
        background: var(--swiper-pagination-bullet-hover-color);
      }
    }

    &::before {
      content : '';
      position: absolute;
      inset   : calc(-1 * var(--swiper-pagination-bullet-horizontal-gap));

    }

    &-active-prev,
    &-active-next {
      &::before {
        transform: scale(calc(1 / 0.66));
      }
    }

    &-active-prev-prev,
    &-active-next-next {
      &::before {
        transform: scale(calc(1 / 0.33));
      }
    }
  }

}

.header {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  background     : theme('colors.l3');
  position       : sticky;
  top            : 0;
  z-index        : theme('zIndex.1');
  padding-top    : 12px;
  padding-bottom : 12px;
  border-bottom  : 1px solid theme('colors.default / 15%');


  @media (max-width: theme('screens.sm')) {
    flex-wrap: wrap;
    top      : -48px;
  }

  &-logo {
    width : 226px;
    height: 54px;

    @media (max-width: theme('screens.sm')) {
      width : 175px;
      height: 42px;
    }
  }
}

.nav {
  height         : 60px;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  background     : theme('colors.l3');
}

.menu {
  position  : fixed;
  left      : 0;
  top       : 0;
  height    : 100%;
  width     : 425px;
  max-width : 100%;
  z-index   : theme('zIndex.3');
  background: theme('colors.l3');
  overflow  : auto;

  display       : flex;
  flex-direction: column;
  transition    : .25s ease;

  &:not(.toggle-active) {
    transform: translateX(-100%);
  }

  &-shadow {
    position  : fixed;
    inset     : 0;
    z-index   : calc(theme('zIndex.3') - 1);
    background: rgba(0, 0, 0, 0.5);
    transition: .25s ease;
  }

  &:not(.toggle-active)+&-shadow {
    opacity       : 0;
    pointer-events: none;
  }
}

.started {
  height        : 744px;
  color         : #fff;
  padding-top   : 180px;
  padding-bottom: 48px;

  @media (max-width: theme('screens.md')) {
    padding-top   : 48px;
    padding-bottom: 275px;
  }

  @media (max-width: theme('screens.sm')) {
    height: 674px;

  }

  &-content {
    height        : 100%;
    display       : flex;
    flex-direction: column;
    position      : relative;
    z-index       : 1;
  }

  &-title {
    font-size     : 54px;
    font-weight   : 700;
    text-transform: uppercase;
    line-height   : 1.05;

    @media (max-width: theme('screens.sm')) {
      font-size: 32px;
    }
  }

  &-pagination {
    --swiper-pagination-color                : #fff;
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.4);
    --swiper-pagination-bullet-hover-color   : rgba(255, 255, 255, 0.6);
    --swiper-pagination-bottom               : 24px;

    position: absolute;
    z-index : 2;
  }

  &-lines {
    position : absolute;
    height   : 100%;
    width    : auto;
    max-width: none;
    left     : 50%;
    transform: translateX(-50%);
  }

  &-image {
    max-width: none;
    position : absolute;
    height   : 100%;
    left     : calc(50% - 50px);
    bottom   : 0;

    @media (max-width: theme('screens.md')) {
      height   : auto;
      left     : 50%;
      transform: translateX(-50%);
    }
  }
}

.service-item {
  display       : flex;
  flex-direction: column;
  background    : theme('colors.l3');
  border-radius : 32px;
  border        : 1px solid theme('colors.default / 15%');
  overflow      : hidden;

  @media (max-width: theme('screens.sm')) {
    border-radius: 24px;
  }

  &-content {
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
  }
}

.advantages {
  &-item {
    border        : 1px solid rgba(0, 0, 0, 0.04);
    border-radius : 32px;
    box-shadow    : 0 3px 1px 0 rgba(0, 0, 0, 0.039), 0 3px 8px 0 rgba(0, 0, 0, 0.059);
    padding       : 38px 16px;
    display       : flex;
    flex-direction: column;
    gap           : 24px;

    @media (max-width: theme('screens.sm')) {
      padding       : 8px;
      padding-bottom: 32px;
      gap           : 16px;
    }

    &-image {
      height         : 180px;
      width          : calc(100% - 80px);
      margin-left    : auto;
      margin-right   : auto;
      background     : linear-gradient(306.3deg, rgba(212, 248, 246, 0) 0%, rgba(157, 228, 226, 0.6) 100%), rgba(183, 233, 221, 0.6);
      border-radius  : 20px;
      display        : flex;
      align-items    : center;
      justify-content: center;
      font-size      : 92px;

      @media (max-width: theme('screens.sm')) {
        width    : 100%;
        max-width: 260px;
        height   : 132px;
        font-size: 68px;
      }
    }

    &-content {
      flex-grow : 1;
      text-align: center;
    }
  }
}

.offer {
  &-grid {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows       : 300px;
    gap                  : 30px;

    @media (max-width: theme('screens.lg')) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: theme('screens.sm')) {
      grid-template-columns: 1fr;
      gap                  : 16px;
      grid-auto-rows       : 260px;
    }
  }

  &-item {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items    : center;
    text-align     : center;
    border-radius  : 24px;
    padding        : 40px;
    position       : relative;
    overflow       : hidden;

    @media (max-width: theme('screens.lg')) {
      padding: 32px;
    }

    &-bitrix {
      background:
        linear-gradient(136.88deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 75.82%), #09c;
      color: #fff;
    }

    &-1c {
      background: linear-gradient(116.57deg, #FFBF1A 16.67%, #D91920 100%);
      color     : #fff;
    }

    &-virus {
      background:
        linear-gradient(136.88deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 75.82%), #00A3B2;
      color: #fff;
    }

    &-equipment {
      background: linear-gradient(360deg, #C4D9F2 0%, #EAF3FD 100%);
    }

    &-other {
      background: #249591;
      color     : #fff;
    }

    &-content {
      display       : flex;
      flex-direction: column;
      align-items   : center;
      position      : relative;
    }
  }
}

.portfolio {
  &-item {
    display       : flex;
    flex-direction: column;
    border        : 1px solid theme('colors.default / 20%');
    border-radius : 32px;

    @media (max-width: theme('screens.md')) {
      border-radius: 24px;
    }

    &-image {
      height         : 248px;
      display        : flex;
      align-items    : center;
      justify-content: center;
      padding        : 15px;

      @media (max-width: theme('screens.md')) {
        height: 136px;
      }

      img {
        max-height: 100%;
        object-fit: scale-down;
      }
    }

    &-content {
      flex-grow     : 1;
      display       : flex;
      flex-direction: column;
      align-items   : flex-start;
      padding       : 24px;
      padding-top   : 0;

      @media (max-width: theme('screens.md')) {
        padding    : 16px;
        padding-top: 0;
      }
    }
  }

}

.pray {
  background:
    url("../img/pray-bg.jpg") no-repeat center / cover,
    linear-gradient(100.12deg, rgba(29, 140, 136, 0) 0%, rgba(8, 225, 217, 0.7) 100%), #196C69;
  padding-top   : 64px;
  padding-bottom: 64px;

  @media (max-width: theme('screens.sm')) {
    background:
      url("../img/pray-bg-sm.jpg") no-repeat center / cover,
      linear-gradient(100.12deg, rgba(29, 140, 136, 0) 0%, rgba(8, 225, 217, 0.7) 100%), #196C69;
    padding-top   : 32px;
    padding-bottom: 92px;
  }

  &-form {
    padding        : 32px 24px;
    background     : linear-gradient(152.1deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.2) 100%);
    width          : 390px;
    border         : 2px solid rgba(255, 255, 255, 0.5);
    border-radius  : 32px;
    max-width      : 100%;
    backdrop-filter: blur(20px);

    @media (max-width: theme('screens.sm')) {
      padding: 24px 16px;
    }
  }
}

@layer components {
  .client {
    &-item {
      border       : 1px solid theme('colors.default / 20%');
      border-radius: 32px;
      transition   : .25s ease;

      @media (max-width: theme('screens.md')) {
        border-radius: 24px;
      }

      &-image {
        display        : flex;
        align-items    : center;
        justify-content: center;
        padding        : 16px;

        img {
          max-height: 100%;
        }
      }
    }
  }
}

.map {
  height: 592px;

  @media (max-width: theme('screens.sm')) {
    height: 532px;
  }
}

.footer {
  background:
    url("../img/footer-bg.jpg") no-repeat center / cover,
    linear-gradient(100.12deg, rgba(29, 140, 136, 0) 0%, rgba(8, 225, 217, 0.5) 100%), #196C69;
  color: #fff;

  @media (max-width: theme('screens.md')) {
    background:
      url("../img/footer-bg-sm.jpg") no-repeat center / cover,
      linear-gradient(100.12deg, rgba(29, 140, 136, 0) 0%, rgba(8, 225, 217, 0.5) 100%), #196C69;
  }

  &-inner {
    display       : flex;
    gap           : 60px;
    padding-top   : 45px;
    padding-bottom: 48px;

    @media (max-width: theme('screens.md')) {
      flex-direction: column;
      gap           : 32px;
      padding-top   : 32px;
      padding-bottom: 96px;
    }
  }

  &-info {
    width      : 372px;
    flex-shrink: 0;

    @media (max-width: theme('screens.md')) {
      width: 100%;
    }
  }

  &-logo {
    width : 214px;
    height: 50px;
  }

  &-contact {
    width      : 298px;
    flex-shrink: 0;

    @media (max-width: theme('screens.md')) {
      width: 100%;
    }
  }

  &-link {
    --underline-color   : currentColor;
    --underline-position: left;
  }

  &-bottom {
    background    : rgba(25, 112, 108, 0.6);
    padding-top   : 12px;
    padding-bottom: 12px;
  }
}

.catalog-preview {
  display    : flex;
  align-items: center;
  gap        : 60px;

  @media (max-width: theme('screens.lg')) {
    align-items: flex-start;
    gap        : 24px;
  }

  @media (max-width: theme('screens.sm')) {
    flex-direction: column;
  }

  &-image {
    width        : 340px;
    flex-shrink  : 0;
    border-radius: 32px;
    overflow     : hidden;

    @media (max-width: theme('screens.md')) {
      width    : 300px;
      max-width: 40%;
    }

    @media (max-width: theme('screens.sm')) {
      width    : 100%;
      max-width: 100%;
    }
  }
}

.catalog-item {
  display      : flex;
  align-items  : center;
  gap          : 60px;
  padding      : 16px;
  border-radius: 32px;
  border       : 1px solid theme('colors.default / 20%');

  @media (max-width: theme('screens.lg')) {
    align-items: flex-start;
    gap        : 24px;
  }

  @media (max-width: theme('screens.sm')) {
    flex-direction: column;
    gap           : 16px;
    padding       : 8px;
    padding-bottom: 24px;
  }

  &-image {
    width        : 324px;
    flex-shrink  : 0;
    border-radius: 24px;
    overflow     : hidden;

    @media (max-width: theme('screens.md')) {
      width    : 300px;
      max-width: 40%;
    }

    @media (max-width: theme('screens.sm')) {
      width    : 100%;
      max-width: 100%;
    }
  }

  &-content {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;

    @media (max-width: theme('screens.sm')) {
      padding-left : 8px;
      padding-right: 8px;
    }
  }
}

.contact {
  &-inner {
    display: flex;
    gap    : 30px;

    @media (max-width: theme('screens.lg')) {
      flex-direction: column;
      gap           : 24px;
    }
  }

  &-content {
    padding       : 40px 28px;
    border-radius : 32px;
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    border        : 1px solid theme('colors.default / 20%');
    width         : 390px;
    flex-shrink   : 0;

    @media (max-width: theme('screens.lg')) {
      width: 100%;
    }

    @media (max-width: theme('screens.sm')) {
      border-radius: 24px;
      padding      : 24px 16px;
    }
  }

  &-time {
    background:
      linear-gradient(96.6deg, theme('colors.l3 / 70%') 0%, theme('colors.l3 / 0%') 100%), theme('colors.l2');
    border-radius: 10px;
    padding      : 15px 24px;
    display      : flex;
    align-items  : center;
    gap          : 16px;

    @media (max-width: theme('screens.sm')) {
      padding: 12px 16px;
    }
  }

  &-form {
    padding      : 32px 32px 40px;
    border-radius: 32px;
    flex-grow    : 1;
    background   : url("../img/contact-form-bg.jpg") no-repeat center / cover,
      linear-gradient(100.12deg, rgba(29, 140, 136, 0) 0%, rgba(8, 225, 217, 0.5) 100%),
      theme('colors.primary');
    color: #fff;

    @media (max-width: theme('screens.sm')) {
      border-radius: 24px;
      padding      : 24px 16px;
    }
  }
}